<!DOCTYPE html>
<html lang="en">
    <head>

		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Dreams POS is a powerful Bootstrap based Inventory Management Admin Template designed for businesses, offering seamless invoicing, project tracking, and estimates.">
		<meta name="keywords" content="inventory management, admin dashboard, bootstrap template, invoicing, estimates, business management, responsive admin, POS system">
		<meta name="author" content="Dreams Technologies">
		<meta name="robots" content="index, follow">
		<title>Dreams POS - Inventory Management & Admin Dashboard Template</title>

		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon-1.png">

		<!-- Apple Touch Icon -->
		<link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-1.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min-1.css">
		
        <!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min-1.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min-1.css">

         <!-- Tabler Icon CSS -->
	    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.min-1.css">
		

	    <!-- Main CSS -->
        <link rel="stylesheet" href="assets/css/style-1.css">
		
    </head>
    <body class="account-page bg-white">

        <div id="global-loader">
			<div class="whirly-loader"></div>
		</div>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<div class="login-wrapper login-new">
                    <div class="row w-100">
                        <div class="col-lg-5 mx-auto">
                            <div class="login-content user-login">
                                <div class="login-logo">
                                    <img src="assets/img/logo-1.svg" alt="img">
                                    <a href="index-1.html" class="login-logo logo-white">
                                        <img src="assets/img/logo-white-1.svg" alt="Img">
                                    </a>
                                </div>
                                <form action="success-3.html">
                                    <div class="card">
                                        <div class="card-body p-5">
                                            <div class="login-userheading">
                                                <h3>Reset password?</h3>
                                                <h4>Enter New Password & Confirm Password to get inside</h4>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Old Password <span class="text-danger"> *</span></label>
                                                <div class="pass-group">
                                                    <input type="password" class="pass-input form-control">
                                                    <span class="ti toggle-password ti-eye-off text-gray-9"></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">New Password <span class="text-danger"> *</span></label>
                                                <div class="pass-group">
                                                    <input type="password" class="pass-inputs form-control">
                                                    <span class="ti toggle-passwords ti-eye-off text-gray-9"></span>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Confirm Password <span class="text-danger"> *</span></label>
                                                <div class="pass-group">
                                                    <input type="password" class="pass-inputa form-control">
                                                    <span class="ti toggle-passworda ti-eye-off text-gray-9"></span>
                                                </div>
                                            </div>
                                            <div class="form-login">
                                                <button type="submit" class="btn btn-login">Change Password</button>
                                            </div>
                                            <div class="signinform text-center mb-0">
                                                <h4>Return to <a href="signin-3-1.html" class="hover-a"> login </a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="my-4 d-flex justify-content-center align-items-center copyright-text">
                        <p>Copyright &copy; 2025 DreamsPOS</p>
                    </div>
                </div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		  
		<!-- jQuery -->
        <script src="assets/js/jquery-3.7.1.min-1.js" type="2e73aebb2871ce7a26b36a5a-text/javascript"></script>

         <!-- Feather Icon JS -->
		<script src="assets/js/feather.min-1.js" type="2e73aebb2871ce7a26b36a5a-text/javascript"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="assets/js/bootstrap.bundle.min-1.js" type="2e73aebb2871ce7a26b36a5a-text/javascript"></script>
		
		<!-- Custom JS -->
        <script src="assets/js/script-1.js" type="2e73aebb2871ce7a26b36a5a-text/javascript"></script>
	
    <script src="../../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min-1.js" data-cf-settings="2e73aebb2871ce7a26b36a5a-|49" defer=""></script></body>
</html>